$trybe-color: #0fa36b;
$trybe-purple: #925ca8;
$trybe-gray: #333;
$cool-orange: #d37f00;
$white: #ffffff;
$light_gray: #cfdbd5;
$platinum: #e8eddf;
$stil_de_grain_yellow: #f5cb5c;
$rainsin_black: #242423;
$jet: #333333;
$vinho: #bd5d38;
$font: 'Saira Extra Condensed';

h1{
  font-size: 6rem;
  line-height: 5.5rem;
}
.font_saira{
  font-family: $font;
  font-weight: 700;
  text-transform: uppercase;
}
.text-rainsin {
  color: $white;
}

.bg-1 {
  background-color: $vinho;
  height: 100%;
  align-items: center;
  display: flex;
}

html,
body {
  height: 100%;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";
