body {
  background-color: rgba( 35 , 134 , 196 , 1 );
  color: white;
  margin: 0;
}

footer {
  color: white;
  text-align: center;
}

h1 {
  border-radius: 5px;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgba( 224 , 122 , 95 , 1 );
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 0;
  padding: 20px;
}

.cart {
  background-color: white;
  border-radius: 20px;
  color: black;
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  margin-right: 20px;
  margin-top: 6px;
}

.cart .cart__title {
  flex-basis: 1;
  font-family: Roboto, sans-serif;
  font-size: 25pt;
  font-weight: 700;
  margin: 20px;
  text-align: center;
}

.loading {
  animation: spin 1s linear infinite;
  border: 8px solid rgba( 224 , 122 , 95 , 1 );
  border-left-color: rgb( 221 , 153 , 135 );
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

@keyframes spin {

  to { transform: rotate( 360deg ); }
}

.header {
  color: black;
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.empty-cart {
  background-color: rgba( 224 , 122 , 95 , 1 );
  border-radius: 10px;
  border-style: none;
  color: white;
  font-size: 16px;
  font-weight: 780;
  margin: 20px;
  padding: 20px;
}

.cart__item {
  font-size: 17px;
  font-weight: 700;
  margin: 10px 0;
}

.total-prc {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  text-align: center;
}

.search {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.input {
  height: 25px;
  width: 20%;
}

.input-btn {
  background-color: rgba( 224 , 122 , 95 , 1 );
  border-radius: 10px;
  border-style: none;
  color: white;
  font-size: 16px;
  font-weight: 780;
  padding: 15px;
}

.cart__items {
  align-items: center;
  display: flex;
  flex-direction: column;
}
