/* * {
  border: 1px solid red;
} */

body {
  font-family: helvetica, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  background: linear-gradient(white, #d3d8e8);
}

a {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
}

.facebook-logo {
  height: 34px;
  margin-top: 27px;
  width: 170px;
}

header {
  background: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
}

.top-bar {
  display: flex;
  height: 82px;
  justify-content: space-between;
}

.content {
  margin: 0 auto;
  width: 986px;
}

.login-div {
  display: flex;
  margin: 4px;
  padding: 0 10px;
}

.top-labels {
  color: white;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}

.col-top-bar {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 8px;
}

.col {
  display: flex;
  flex-direction: column;
}

.forgot-pass {
  color: #9cb4d8;
  font-size: 12px;
  margin-top: 6px;
  text-decoration: none;
}

.user-email-phone {
  height: 14px;
  padding: 3px;
  width: 142px;
}

.map {
  height: 195px;
  width: 537px;
}

.help {
  color: #0e385f;
  font-size: 20px;
  font-weight: 800;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

.left {
  width: 57%;
}

.right {
  width: 43%;
}

.middle {
  display: flex;
  padding-bottom: 30px;
}

.open-account {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 8px;
  padding: 20px 0 5px;
}

.fast {
  color: #1d2129;
  font-size: 19px;
  padding-bottom: 20px;
}

.middle input {
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  font-size: 18px;
  height: 21px;
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 377px;
}

.name {
  display: flex;
  justify-content: space-between;
  width: 399px;
}

.name input {
  padding: 8px 10px;
  width: 172px;
}

.middle label {
  color: #90949c;
  font-size: 16px;
  font-weight: 800;
}

.gen {
  display: flex;
  margin-top: 10px;
}

.gen label {
  color: #1d2129;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 10px 0 3px;
}

.gen input {
  height: 16px;
  width: 16px;
}

.politic {
  color: rgb(119, 119, 119);
  direction: ltr;
  display: block;
  font-size: 11px;
  height: 42px;
  line-height: 14.74px;
  margin: 11px 0;
  width: 316px;
}

.sign {
  background-color: rgb(105, 167, 78);
  background-image: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  border: 1px solid rgb(59, 110, 34);
  border-bottom-color: rgb(44, 81, 21);
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgb(164, 227, 136) 0 1px 1px 0 inset;
  color: white;
  cursor: pointer;
  font-family: Freight Sans Bold, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  height: 39px;
  letter-spacing: normal;
  line-height: 23.94px;
  margin: 10px 0;
  min-width: 194px;
  padding: 7px 20px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  text-transform: none;
  width: 194px;
}

.sign:hover {
  background: linear-gradient(#79bc64, #578843);
}

.create-page {
  border-top: 1px solid rgb(221, 223, 226);
  color: rgb(102, 102, 102);
  direction: ltr;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 17px;
  line-height: 17.42px;
  margin-top: 10px;
  padding-top: 15px;
  width: 400px;
}

.date {
  margin-bottom: 5px;
  margin-top: 10px;
}

.langs {
  display: flex;
  list-style-type: none;
  margin-top: 22px;
}

.langs li {
  margin-right: 15px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.links li {
  margin-bottom: 8px;
  margin-right: 20px;
}

.pageFooter {
  color: #737373;
  font-size: 12px;
  margin: 0 auto;
  width: 986px;
}

.copyright {
  font-size: 11px;
}

.line {
  border-bottom: 1px solid #dddfe2;
}

.button-login {
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-weight: 800;
  line-height: 18px;
  margin-top: 20px;
  padding: 2px 6px;
  text-decoration: none;
}

.button-login:hover {
  background-color: #365899;
}
